.container-createuser {
  display: grid;
  height: 100%;
  align-items: center;
}

.title-text {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 400;
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: flex-end;
}

.subtext {
  color: rgb(255, 255, 255);
  font-family: "Open Sans Hebrew";
  font-size: 18px;
  font-weight: 700;
}

.cu-button-box {
  margin-left: 20px;
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  justify-content: center;
}

.form-elements {
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 15px;
  top: 150px;
  left: 20px;
  gap: 20px;
  color: white;
}

.input-div {
  margin: 5px;
}

.form-field {
  margin-bottom: 20px;
}

.button {
  margin: 3px;
}

.input-field {
  width: 300px;
  height: 20px;
  padding: 13px 12px;
  border: 1px solid rgba(174, 176, 182, 1);
  border-radius: 10px;
  font-size: 16px;
  font-family: "Work Sans";
  margin-top: 5px;
}
