.iconly-light-outline-image {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 76px;
    left: 138px;
  }
  
  .icon-fill1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -0.0002px;
    left: 0px;
  }
  